Source: groove
Section: universe/misc
Priority: extra
Maintainer: Elias Woods <EliasWoods@gmail.com>
Build-Depends: debhelper (>= 7), libqjson-dev, libqt4-dev, libqt4-phonon-dev
Standards-Version: 3.8.3
Homepage: None Yet

Package: groove
Architecture: any
Depends: libqjson0, libqt4-gui, libqt4-core, libqt4-network, libqt4-phonon, phonon, phonon-backend-gstreamer, ${shlibs:Depends}, ${misc:Depends}
Build-Depends: libqjson-dev, libqt4-dev, libqt4-phonon-dev
Description: Groove - A grooveshark client for linux
 A grooveshark client written qt4
